.card{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    height: 580px;

    .box-image{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 40%;
        img{
            width: 90%;
        }
    }
    .card-title, a{
        color: whitesmoke;
        & :hover{
            color: red;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul{
            height: 200px;
        }
    }

    li{
        background-color: transparent;
        color: whitesmoke;
        border: 1px solid grey;
    }
}
.pagination {
    .page-item{
        .page-link{
            background-color: transparent;
            border: none;

        }
      
    }
}